@using FirstApplication.Commands;
@model CreateOrderCommand


<form asp-controller="Order" asp-action="Create" method="POST">
    <div>
        <label asp-for="OrderPlaced"></label>
        <input asp-for="OrderPlaced" class="form-control" required />
        <span asp-validation-for="OrderPlaced"></span>  @* To show the validation error from the controller here  *@
    </div>

    <div>
        <label asp-for="OrderFulfilled"></label>
        <input asp-for="OrderFulfilled" class="form-control" required />
        <span asp-validation-for="OrderFulfilled"></span>
    </div>

    <br />
    <button type="submit">Save</button>
</form>
