@model OrderDetail

<h2>Edit Order Detail</h2>

<form asp-action="Delete" method="POST">
    <div>
        <label asp-for="Quantity"></label>
        <input asp-for="Quantity" disabled/>
    </div>


    <input type="hidden" asp-for="Id" />
    <div>
        <button type="submit">Delete</button>
        <a asp-action="Index" asp-controller="Order">Back to List</a>
    </div>
</form>

